img{
    width: 30rem;
    display: block;
}

.container{
    width: 30rem;
    height: 30rem;
    background-color: crimson;
    color: white;
    display: grid;
    place-items: center;
}

.circle{
    border-radius: 100%;
}

.square{
    border-radius: 5px;
}

.container img{
    width: 20%;
    filter: invert(1);
}

#change-shape-button{
    border: none;
    background-color: cornflowerblue;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: block;
}